<%- include("./templates/head.ejs") %>
<style>
    <%- include("../public/css/main.css") %> 
</style>
<body>
    <h1>Error: <%= error %> </h1>
    <a href="/">Home</a>
</body>
</html>
<%- include("./templates/footer.ejs") %>