<%- include("./templates/head.ejs") %>
<body>
    <% if (userAuth) { %>
        <h1>Bienvenido devuelta "<%= username %>" !</h1>
        <ul>
            <li>
                <a href="/chat">Chat</a>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    <% } else{%>
        <h1>Bienvenido nuevo visitante!</h1>
        <ul>
            <li>
                <a href="/chat">Chat</a>
                <a href="/signup">Signup</a>
                <a href="/login">Login</a>
            </li>
        </ul>
    <% } %> 

    <%- include("./templates/footer.ejs") %>
</body>

</html>