<%- include("./templates/head.ejs") %>
<body>
    <h1>Inicio</h1>
    <ul>
        <li>
            <a href="/chat">Chat</a>
        </li>
    </ul>
    <%- include("./templates/footer.ejs") %>
</body>

</html>