<footer class="shadowWithBackground">
    <p>
        Pagina crea por Famá Román como practicas de web-sockets(socket-io) y auth de usuarios.<br>
        Es decir que la pagina tiene implemetado un sistema de autentificacion de usuarios,<br>
        un chat global en tiempo real con otros usuarios, un sistema de notificaciones interno,<br>
        comandos y un sistema de roles que limitan el acceso a herramientas.<br> 
        web creada con Node.js, Express.js como manager de peticiones HTTP y renderizada con el motor de templates "EJS".<br>
        El CSS de la pagina es basico ya que no es a lo que apunto, pero no quiere decir que haya una ausencia de el mismo.<br>
        <br>
        Contacto: famaroman@gmail.com
    </p>
</footer>