<footer class="shadowWithBackground">
    <p>
        Pagina crea por Famá Román como practicas de web-sockets(socket-io) y web-push.<br>
        Creada con Node.js, Express.js como manager de peticiones HTTP y renderizada con el motor de templates "EJS".<br>
        Contacto: famaroman@gmail.com
    </p>
</footer>